<header class="site-header">
<div class="wrapper">
<nav class="site-nav">         
        <span class="menu-bar" onclick="openNav()">
            <svg id="i-menu" viewBox="0 0 32 32" width="28" height="28" fill="none" stroke="#eee" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        </span>
</nav> 

<div class="profile">

<h1 class="author-about">Happyr developer blog</h1>
</div>
<div class="menu-category">
<div class="menu-item"><a class="{% if page.url == '/' %}active{% endif %} menu-link" href="{{site.baseurl}}/">Index</a></div>
<div class="menu-item"><a class="menu-link" href="https://github.com">Github</a></div>
<div class="menu-item"><a class="menu-link" href="https://happyr.com">Happyr.com</a></div>
</div>
</div>
</header>

